<section class="burger-menu">
    <h2>burgers on the menu</h2>
    <table>
        {{#each burgers}}
        {{#unless devoured}}
        <tr>
            <td>{{id}}. {{burger_name}}</td>
            <td><button data-id="{{id}}" class="devour-burger">eat!</button></td>
        </tr>
        {{/unless}}
        {{/each}}
    </table>
</section>

<main>
    <h1>eat da burger!</h1>
    <img src="/images/burger.png" alt="cartoon burger">

    <form class="add-burger">
        <input type="text" id="burger-name" placeholder="submit a burger name!">
        <br>
        <button type="submit">add new burger</button>
    </form>
</main>

<section class="burger-history">
    <h2>burgers devoured</h2>
    <table>
        {{#each burgers}}
        {{#if devoured}}
        <tr>
            <td>{{id}}. {{burger_name}}</td>
        </tr>
        {{/if}}
        {{/each}}
    </table>
</section>